.container {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.no-match {
  text-align: center;
  font-size: 1.3rem;
}

@media screen and (max-width: 400px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 250px) {
  .container {
    width: 90%;
  }
}
